<navbar></navbar>
<br>
<div class="center">
    <p class="textCreatePoll">Create a poll</p>
    <p class="textCreatePoll2">Poll title</p><br>
    <form (ngSubmit)="onSubmit()">
        <input type="text" id="title" [(ngModel)] = "poll.title" name="title"> <br><br><br>

        <p class="textCreatePoll2">Poll description</p><br>
        <input type="text" id="description" [(ngModel)] = "poll.description" name="description"> <br><br><br>
        <p class="textCreatePoll2">Expiry date</p><br><br>
        <input type="text" id="date" [(ngModel)] = "poll.expiryDate" name="description"> <br><br><br>
        <button class="p-button-primary"  pButton type="submit" label="Create" ></button>
        <button (click)="cancel()" class="p-button-danger"  pButton type="button" label="Cancel" ></button>
    </form>
<br>
</div>
<br><br>