<navbar></navbar>
<div class="center">
    <p class="textCreatePoll2">Please submit your answer!</p>
    <p class="textCreatePoll"> Title: {{poll.title}} <br><br></p>
    <p class="textCreatePoll">Description: {{poll.description}}</p><br><br>
    <form (ngSubmit)="onSubmit()">
        <p class="textCreatePoll">Rating:<br>
        <p-rating [(ngModel)] = "val" name="val"></p-rating><br><br>
        <button class="p-button-primary"  pButton type="submit" label="Vote" ></button>
        <button (click)="cancel()" class="p-button-danger" pButton type="button" label="Cancel" ></button>
    </form>
</div>