<navbar></navbar>
<div class="center">
<p-orderList [value]="polls" filterBy="title,description,id">
    <ng-template let-poll pTemplate="item">
        <div class="center">
            <table>
                <tr>        
                    <td>
                        <div  style="font-size:16px;float:right;margin:15px 5px 0 0">{{poll.id}} - Title: {{poll.title}} <br> Description: {{poll.description}} <br> Expiry date: {{poll.expiryDate}}</div>
                    </td>
                    <td>
                        <div class="center">
                            <button (click)="votePoll(poll.id)" class="p-button-primary"  pButton type="button" label="Vote"></button>
                        </div>
                    </td>   
                </tr>
            </table>
        </div>
    </ng-template>
</p-orderList>
</div>