<div class="center">
    <form
      class="form-signin"
      [formGroup]="signupForm"
      (ngSubmit)="registerUser()"
    >
    <p class="textCreatePoll">Please sign up</p><br>
      <div class="form-group">
        <label class="textCreatePoll2">Name</label><br><br>
        <input
          type="text"
          class="form-control"
          formControlName="name"
          placeholder="Enter name"
          required
        /><br><br><br>
      </div>
      <button pButton type="submit" label="Register" class="p-button-primary" ></button>
    </form>
  </div>